<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      HackrSpace
    </title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/content/dashboard.css' %}" />
    <script src="{% static 'dashboard/scripts/jquery.js' %}"></script>
    <script src="{% static 'dashboard/scripts/dashboard.js' %}"></script>

    
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <b class="navbar-brand"><a href="/home">HackrSpace</a></b>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                    <a href="#page-top"></a>
                  </li>
                  
                  <li>
                    <a href="/profile">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
            </div> 
        </div>
    </nav>

{% block content %}{% endblock %}

</body>

</html>